docs/old/
docs/submissions/
docs/feedback/
docs/data/unused/
docs/data/bowhead*
docs/data/processed/bowhead*
docs/data/right*
docs/data/processed/right*
docs/data/sei*
docs/data/processed/sei*
docs/data/bottlenose*
docs/data/processed/bottlenose*
docs/data/commersons*
docs/data/processed/commersons*
docs/data/heavisides*
docs/data/processed/heavisides*
docs/data/hectors*
docs/data/processed/hectors*
docs/data/killer_sharpe*
docs/data/processed/killer_sharpe*
docs/data/narrow*
docs/data/processed/narrow*
docs/data/peales*
docs/data/processed/peales*
docs/models/phonemes_in_words*
docs/models/words_in_sentences*
docs/models/interpolation_check*
