docs/old/
docs/submissions/
docs/feedback/
docs/imgs/spectrograms/
docs/data/unused/
docs/data/bowhead*
docs/data/processed_menz/bowhead*
docs/data/processed_zla/bowhead*
docs/data/right*
docs/data/processed_menz/right*
docs/data/processed_zla/right*
docs/data/sei_macklin*
docs/data/processed_menz/sei_macklin*
docs/data/processed_zla/sei_macklin*
docs/data/bottlenose*
docs/data/processed_menz/bottlenose*
docs/data/processed_zla/bottlenose*
docs/data/commersons*
docs/data/processed_menz/commersons*
docs/data/processed_zla/commersons*
docs/data/heavisides*
docs/data/processed_menz/heavisides*
docs/data/processed_zla/heavisides*
docs/data/hectors*
docs/data/processed_menz/hectors*
docs/data/processed_zla/hectors*
docs/data/killer_sharpe*
docs/data/processed_menz/killer_sharpe*
docs/data/processed_zla/killer_sharpe*
docs/data/narrow*
docs/data/processed_menz/narrow*
docs/data/processed_zla/narrow*
docs/data/peales*
docs/data/processed_menz/peales*
docs/data/processed_zla/peales*
docs/models/phonemes_in_words*
docs/models/words_in_sentences*
docs/models/interpolation_check*
